<p id="notice"><%= notice %></p>

<h1> <%=@artist.name%> </h1>

<h1>Shows:</h1>

  <h1> <%= @artist.shows[0].location %> </h1>
  <img src="<%= @artist.shows[0].img %>">


<%= link_to 'Back', artists_path %>
