<p id="notice"><%= notice %></p>

<h1> <%=@artist.name%> </h1>

<%shows = @artist.shows%>

<h1>Shows:</h1>
<% @shows.each do |show| %>
<h2> <%= show.location %> </h2>
<h4> <%= show.date %> </h4>
  <img src="<%= show.img %>" >
<% end %>
<%= link_to 'Back', artists_path %>
