<p id="notice"><%= notice %></p>

<h1>Concert Infos</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Artist name</th>
      <th>City</th>
      <th>Venue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concert_infos.each do |concert_info| %>
      <tr>
        <td><%= concert_info.event %></td>
        <td><%= concert_info.artist_name %></td>
        <td><%= concert_info.city %></td>
        <td><%= concert_info.venue %></td>
        <td><%= link_to 'Show', concert_info %></td>
        <td><%= link_to 'Edit', edit_concert_info_path(concert_info) %></td>
        <td><%= link_to 'Destroy', concert_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concert Info', new_concert_info_path %>
