<p id="notice"><%= notice %></p>

<h1>Shows</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Date</th>
      <th>Img</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% puts @show %>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.location %></td>
        <td><%= show.date %></td>
        <td><%= show.img %></td>
        <td><%= link_to 'Show', artist_shows_url %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show', new_artist_show_path %>
