<p id="notice"><%= notice %></p>
    

<%-# link_to 'Back', artists_path %>


<% require 'httparty'
response = HTTParty.get("https://api.setlist.fm/rest/1.0/search/artists?artistName=#{@artist.name}&p=1&sort=relevance",headers: { 'x-api-key' => 'xlEeWdnKwBF9fBlUFjU40BOJV9xWkMswV40L', 'Accept' => 'application/json'})
puts "RESPONSE!!!!: #{response.body}" %>

<div class= "container">

<nav>
<h1><strong><%= @artist.name %></strong></h1>
<a href="/artists"><button type="button" class="btn btn-primary">back</button></a>
</nav>

<% @shows.each do |show| %>
 <br>
 
    <div class="all-concerts">
        <div class="concerts">
    <h2><%= show.location %></h2>
    <h3><%= show.date %></h3>
    <img src="<%= show.img %>">
    </div>
    </div>
    <% end %>
    <%puts "The artist is #{@artist.name}"%>
    </div>

        <br>
        <%-# link_to 'Show', artist_shows_url %>
