<p id="notice"><%= notice %></p>

    <h1>*Artist's name here*</h1>

    <% @shows.each do |show| %>
        <h2><%= show.location %></h2>
        <h3><%= show.date %></h3>
        <img src="<%= show.img %>">
    <% end %>
        
        <br>
        <%= link_to 'Back', artists_path %>
        <%= link_to 'Show', artist_shows_url %>
