<p id="notice"><%= notice %></p>

<body id="concert-body"> 

    <div class="container index">

        <% if false %>
        <nav class="title">
        <a href="/artists"> <button type="button" class="btn btn-primary">back</button> </a>
        </nav>
        <% end %>
        
        <h1 class="title"><strong><%= @artist.name %></strong></h1>
        

        <% @shows.each do |show| %>
            <div class="shows">
            
                <div class="show-image">
                    <a href="/artists/<%= @artist.id %>/shows/<%= show.id %>">
                        <img class="concert-img" src=<%= show.img %> alt=<%= show.location %> >
                    </a>
                </div>

                <div class="show-info">
                    <a href="/artists/<%= @artist.id %>/shows/<%= show.id %>">
                        <h2><%= show.location %></h2>
                        <h3><%= show.date %></h3>
                    </a>
                </div>

            </div>
        <% end %>
    
        <a href="/artists"> <button type="button" class="btn btn-outline">back</button> </a>
    </div>
</body>