<p id="notice"><%= notice %></p>

    <h1><strong><%= @artist.name %></strong></h1>

    <div class= "container">
    <% @shows.each do |show| %>
        <h2><%= show.location %></h2>
        <h3><%= show.date %></h3>
        <img src="<%= show.img %>">
        <% end %>
    </div>

        <br>
        <%= link_to 'Back', artists_path %>
        <%= link_to 'Show', artist_shows_url %>
