<p id="notice"><%= notice %></p>

<body id="concert-body"> 

    <div class="container index">

        <nav class="title">
            <h1> <strong><%= @artist.name %></strong> </h1>
            <a href="/artists"> <button type="button" class="btn btn-primary">back</button> </a>
        </nav>

        <% @shows.each do |show| %>
            <div class="shows">
            
                <div class="show-image">
                    <a href="/artists/<%= @artist.id %>/shows/<%= show.id %>">
                        <img src=<%= show.img %> alt=<%= show.location %> >
                    </a>
                </div>

                <div class="show-info">
                    <a href="/artists/<%= @artist.id %>/shows/<%= show.id %>">
                        <h2><%= show.location %></h2>
                        <h3><%= show.date %></h3>
                    </a>
                </div>

            </div>
        <% end %>
    
    </div>

</body>