<p id="notice"><%= notice %></p>

<% require 'httparty' %>

<% response = HTTParty.get("https://api.setlist.fm/rest/1.0/search/setlists?artistName=#{@artist.name}&date=#{@show.date}&p=1&venueName=#{@show.venue}",headers: { 'x-api-key' => 'xlEeWdnKwBF9fBlUFjU40BOJV9xWkMswV40L', 'Accept' => 'application/json' }) %>

<% data = ActiveSupport::JSON.decode(response.body) %>

<body id="setlist-body">

  <div class="container">

    <h1 id="name"><%= @artist.name %></h1>
    <h2 id="location"><%= data["setlist"][0]["venue"]["name"] %>, <%= @show.location %></h2>
    <h3 id="date"><%= @show.date %></h3>

    <hr>

    <h3 class="sets">Setlist</h3>

    <% sets = data["setlist"][0]["sets"]["set"] %>
  
    <% for j in 0 ... sets.length %>
      <% setlist = data["setlist"][0]["sets"]["set"][j]["song"] %> 
        <% for i in 0 ... setlist.length %>
          <ul>
            <li class="song-list"><%= "#{i + 1}. " %><%= setlist[i]["name"] %></li>
          </ul>  
        <%end%>
          <h5 class="sets"><%= sets.length > 1 && j == 0 ? "Encore" : nil %></h5>
    <% end %>

    <p class="source">
      Source: <a href="<%= data["setlist"][0]["url"] %>" target="_blank" class="setlist-fm">setlist.fm</a>
    </p>
    <a href="/artists/<%= @artist.id %>/shows"> <button type="button" id="to-concerts" class="btn btn-outline">back</button> </a>

  </div>

</body>