<p id="notice"><%= notice %></p>


<% 
require 'httparty'
%>

<%response = HTTParty.get("https://api.setlist.fm/rest/1.0/search/setlists?artistName=#{@artist.name}&date=#{@show.date}&p=1",headers: { 'x-api-key' => 'xlEeWdnKwBF9fBlUFjU40BOJV9xWkMswV40L', 'Accept' => 'application/json'})
parsed_json = ActiveSupport::JSON.decode(response.body)
puts "RESPONSE: #{response.body}" %>

<h1><%=@artist.name%></h1>

<h2><%= parsed_json["setlist"][0]["venue"]["name"]%></h2>

<p>
  <strong>Location:</strong>
  <%= @show.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @show.date %>
</p>



<% setlist = parsed_json["setlist"][0]["sets"]["set"][0]["song"]%> 
<h3>Setlist</h3>
<%parsed_json["setlist"][0]["sets"]["set"].each do |set|%>
<%for i in 0 ... setlist.length %>
  <ol>
    <li><%= parsed_json["setlist"][0]["sets"]["set"][0]["song"][i]["name"] %></li>
  </ol>
<%end%>
<%end%>
Source: <a href="<%=parsed_json["setlist"][0]["url"]%>" target="_blank"> This setlist on setlist.fm </a>

<%= link_to 'Back', artists_path %>