<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @show.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @show.date %>
</p>

<p>
  <strong>Img:</strong>
  <%= @show.img %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
