<p id="notice"><%= notice %></p>



<% 
require 'httparty'
%>


<%response = HTTParty.get("https://api.setlist.fm/rest/1.0/search/setlists?artistName=#{@artist.name}&date=#{@show.date}&p=1&venueName=#{@show.venue}",headers: { 'x-api-key' => 'xlEeWdnKwBF9fBlUFjU40BOJV9xWkMswV40L', 'Accept' => 'application/json'})
data = ActiveSupport::JSON.decode(response.body)%>
<%-#puts "RESPONSE: #{response.body}" %>

<h1><%=@artist.name%></h1>

<h2><%= data["setlist"][0]["venue"]["name"]%></h2>

<p>
  <strong>Location:</strong>
  <%= @show.location %>
</p>
<p>
  <strong>Date:</strong>
  <%= @show.date %>
</p>


<%sets = data["setlist"][0]["sets"]["set"]%>

  <h3>Setlist</h3>

  <%for j in 0 ... sets.length%>
    <% setlist = data["setlist"][0]["sets"]["set"][j]["song"]%> 
      <%for i in 0 ... setlist.length %>
        <ul>
          <li class="song-list"><%="#{i + 1}. "%><%= setlist[i]["name"] %></li>
        </ul>  
      <%end%>
        <h5><%= sets.length > 1 ? "Encore" : nil %></h5>
  <%end%>


  <%-#puts data["setlist"][0]["sets"]["set"][0]["song"]%>

<p class="test">
Source: <a href="<%=data["setlist"][0]["url"]%>" target="_blank" class="setlist">  setlist.fm </a>
</p>
<a href="/artists/<%=@artist.id%>/shows"><button>back</button></a>

